.tagline {
    /* border: 1px solid; */
    margin-top: -15px;
    color: rgba(255, 255, 255, 0.83);
    font-family: Fugaz one;
    font-size: 14px;
}
header {
    height: 80px;
    border: 1px solid #4285f4;
    background: #4285f4;
    /* margin: 0; */
    padding-left: 20px;
    position: fixed;
    display: block;
    width: 100%;
    /* margin-bottom: 98px; */
}

html,body{margin:0;}
.container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.logo {
    line-height: 60px;
    font-size: large;
    /* padding-left: 20px; */
    color: #fff;
    font-weight: bold;
    font-family: Fugaz One;
    font-size: 31px;
    width: 350px;
    /* border: 1px solid black; */
}
.logo img{
	width:100%;
	height:auto;
}
input,select,textarea{
display:block;
width: 100%;
border:1px solid #ddd;
padding	:7px 5px; 
margin:10px  0px;

}
*{
	transition:.3s ease;
}
.form-group{
	margin: 17px 0px;
}
button[disabled]{
	background: rgba(66, 133, 244,0.5) !important;
}
button[type=submit]{
	display:inline-block;
	color:white;
	width:auto;
	background:#4285f4;
	font-weight: bold;
	margin-top: 12px;
	width: 200px;
	font-size: large;
	padding: 19px 35px;
	outline: none;
	border: none;
	border-radius: 4px;
	display:block;
	margin:auto;
	cursor:pointer;
}

.alert {
   padding: 5px 10px;
    border: 1px solid green;
    margin: 5px 0px;
    border-radius:3px;
    background: rgb(0, 255, 90);
    color: green;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.success {
    padding:5px 10px;
    border:1px solid red;
    margin: 5px 0px;
    border-radius:3px;
    background: rgba(0, 255, 0, 0.71);
    color:#fff;
    font-weight: bold;
    font-size: 18px;
}
.error{
	color:red;
	margin:0
}

.has-error{
	border:1px solid red;
	box-shadow: 1px 1px 3px 1px #b52431;
}

.radio input{
	display: inline-block !important;
    width: auto;
    margin: 15px !important;
}
 .checkbox input {
    display: inline-block;
    width: auto;
    margin: 15px !important;
}

.col-12{width:94%;clear:both;margin:3%;}
.col-6{width:44%;margin:3%;float:left;}